.btn-test {
  background-color: #f6c31c;
}

h1 {
  color: #326dee;
}

a {
  color: #1ac888;
}

button {
  color: white;
  border: 0;
  background: #326dee;
  padding: 0.75rem;
  border-radius: 20px;
}

.error {
  color: #d32752;
  border-color: #d32752;
  border-style: solid;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 20px;
  border-width: 1px;
}

.notification {
  color: #1ac888;
  border-color: #1ac888;
  border-style: solid;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 20px;
  border-width: 1px;
}

.text-primary {
  color: #326dee;
}

.text-hover-primary:hover {
  color: #326dee;
}

.bg-hover-primary:hover {
  background-color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.text-primary-light-1 {
  color: #477cf0;
}

.bg-primary-light-1 {
  background-color: #477cf0;
}

.text-primary-light-2 {
  color: #5b8af1;
}

.bg-primary-light-2 {
  background-color: #5b8af1;
}

.text-primary-light-3 {
  color: #7099f3;
}

.bg-primary-light-3 {
  background-color: #7099f3;
}

.text-primary-light-4 {
  color: #84a7f5;
}

.bg-primary-light-4 {
  background-color: #84a7f5;
}

.text-primary-light-5 {
  color: #99b6f7;
}

.bg-primary-light-5 {
  background-color: #99b6f7;
}

.text-primary-light-6 {
  color: #adc5f8;
}

.bg-primary-light-6 {
  background-color: #adc5f8;
}

.text-primary-light-7 {
  color: #c2d3fa;
}

.bg-primary-light-7 {
  background-color: #c2d3fa;
}

.text-primary-light-8 {
  color: #d6e2fc;
}

.bg-primary-light-8 {
  background-color: #d6e2fc;
}

.text-primary-light-9 {
  color: #ebf0fd;
}

.bg-primary-light-9 {
  background-color: #ebf0fd;
}

.text-primary-dark-1 {
  color: #2d62d6;
}

.bg-primary-dark-1 {
  background-color: #2d62d6;
}

.text-primary-dark-2 {
  color: #2857be;
}

.bg-primary-dark-2 {
  background-color: #2857be;
}

.text-primary-dark-3 {
  color: #234ca7;
}

.bg-primary-dark-3 {
  background-color: #234ca7;
}

.text-primary-dark-4 {
  color: #1e418f;
}

.bg-primary-dark-4 {
  background-color: #1e418f;
}

.text-primary-dark-5 {
  color: #193777;
}

.bg-primary-dark-5 {
  background-color: #193777;
}

.text-primary-dark-6 {
  color: #142c5f;
}

.bg-primary-dark-6 {
  background-color: #142c5f;
}

.text-primary-dark-7 {
  color: #0f2147;
}

.bg-primary-dark-7 {
  background-color: #0f2147;
}

.text-primary-dark-8 {
  color: #0a1630;
}

.bg-primary-dark-8 {
  background-color: #0a1630;
}

.text-primary-dark-9 {
  color: #050b18;
}

.bg-primary-dark-9 {
  background-color: #050b18;
}

.text-secondary {
  color: #1ac888;
}

.text-hover-secondary:hover {
  color: #1ac888;
}

.bg-hover-secondary:hover {
  background-color: #1ac888;
}

.bg-secondary {
  background-color: #1ac888;
}

.text-secondary-light-1 {
  color: #31ce94;
}

.bg-secondary-light-1 {
  background-color: #31ce94;
}

.text-secondary-light-2 {
  color: #48d3a0;
}

.bg-secondary-light-2 {
  background-color: #48d3a0;
}

.text-secondary-light-3 {
  color: #5fd9ac;
}

.bg-secondary-light-3 {
  background-color: #5fd9ac;
}

.text-secondary-light-4 {
  color: #76deb8;
}

.bg-secondary-light-4 {
  background-color: #76deb8;
}

.text-secondary-light-5 {
  color: #8de4c4;
}

.bg-secondary-light-5 {
  background-color: #8de4c4;
}

.text-secondary-light-6 {
  color: #a3e9cf;
}

.bg-secondary-light-6 {
  background-color: #a3e9cf;
}

.text-secondary-light-7 {
  color: #baefdb;
}

.bg-secondary-light-7 {
  background-color: #baefdb;
}

.text-secondary-light-8 {
  color: #d1f4e7;
}

.bg-secondary-light-8 {
  background-color: #d1f4e7;
}

.text-secondary-light-9 {
  color: #e8faf3;
}

.bg-secondary-light-9 {
  background-color: #e8faf3;
}

.text-secondary-dark-1 {
  color: #17b47a;
}

.bg-secondary-dark-1 {
  background-color: #17b47a;
}

.text-secondary-dark-2 {
  color: #15a06d;
}

.bg-secondary-dark-2 {
  background-color: #15a06d;
}

.text-secondary-dark-3 {
  color: #128c5f;
}

.bg-secondary-dark-3 {
  background-color: #128c5f;
}

.text-secondary-dark-4 {
  color: #107852;
}

.bg-secondary-dark-4 {
  background-color: #107852;
}

.text-secondary-dark-5 {
  color: #0d6444;
}

.bg-secondary-dark-5 {
  background-color: #0d6444;
}

.text-secondary-dark-6 {
  color: #0a5036;
}

.bg-secondary-dark-6 {
  background-color: #0a5036;
}

.text-secondary-dark-7 {
  color: #083c29;
}

.bg-secondary-dark-7 {
  background-color: #083c29;
}

.text-secondary-dark-8 {
  color: #05281b;
}

.bg-secondary-dark-8 {
  background-color: #05281b;
}

.text-secondary-dark-9 {
  color: #03140e;
}

.bg-secondary-dark-9 {
  background-color: #03140e;
}

.text-error {
  color: #d32752;
}

.text-hover-error:hover {
  color: #d32752;
}

.bg-hover-error:hover {
  background-color: #d32752;
}

.bg-error {
  background-color: #d32752;
}

.text-error-light-1 {
  color: #d73d63;
}

.bg-error-light-1 {
  background-color: #d73d63;
}

.text-error-light-2 {
  color: #dc5275;
}

.bg-error-light-2 {
  background-color: #dc5275;
}

.text-error-light-3 {
  color: #e06886;
}

.bg-error-light-3 {
  background-color: #e06886;
}

.text-error-light-4 {
  color: #e57d97;
}

.bg-error-light-4 {
  background-color: #e57d97;
}

.text-error-light-5 {
  color: #e993a9;
}

.bg-error-light-5 {
  background-color: #e993a9;
}

.text-error-light-6 {
  color: #eda9ba;
}

.bg-error-light-6 {
  background-color: #eda9ba;
}

.text-error-light-7 {
  color: #f2becb;
}

.bg-error-light-7 {
  background-color: #f2becb;
}

.text-error-light-8 {
  color: #f6d4dc;
}

.bg-error-light-8 {
  background-color: #f6d4dc;
}

.text-error-light-9 {
  color: #fbe9ee;
}

.bg-error-light-9 {
  background-color: #fbe9ee;
}

.text-error-dark-1 {
  color: #be234a;
}

.bg-error-dark-1 {
  background-color: #be234a;
}

.text-error-dark-2 {
  color: #a91f42;
}

.bg-error-dark-2 {
  background-color: #a91f42;
}

.text-error-dark-3 {
  color: #941b39;
}

.bg-error-dark-3 {
  background-color: #941b39;
}

.text-error-dark-4 {
  color: #7f1731;
}

.bg-error-dark-4 {
  background-color: #7f1731;
}

.text-error-dark-5 {
  color: #6a1429;
}

.bg-error-dark-5 {
  background-color: #6a1429;
}

.text-error-dark-6 {
  color: #541021;
}

.bg-error-dark-6 {
  background-color: #541021;
}

.text-error-dark-7 {
  color: #3f0c19;
}

.bg-error-dark-7 {
  background-color: #3f0c19;
}

.text-error-dark-8 {
  color: #2a0810;
}

.bg-error-dark-8 {
  background-color: #2a0810;
}

.text-error-dark-9 {
  color: #150408;
}

.bg-error-dark-9 {
  background-color: #150408;
}

.text-info {
  color: #f6c31c;
}

.text-hover-info:hover {
  color: #f6c31c;
}

.bg-hover-info:hover {
  background-color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-info-light-1 {
  color: #f7c933;
}

.bg-info-light-1 {
  background-color: #f7c933;
}

.text-info-light-2 {
  color: #f8cf49;
}

.bg-info-light-2 {
  background-color: #f8cf49;
}

.text-info-light-3 {
  color: #f9d560;
}

.bg-info-light-3 {
  background-color: #f9d560;
}

.text-info-light-4 {
  color: #fadb77;
}

.bg-info-light-4 {
  background-color: #fadb77;
}

.text-info-light-5 {
  color: #fbe18e;
}

.bg-info-light-5 {
  background-color: #fbe18e;
}

.text-info-light-6 {
  color: #fbe7a4;
}

.bg-info-light-6 {
  background-color: #fbe7a4;
}

.text-info-light-7 {
  color: #fcedbb;
}

.bg-info-light-7 {
  background-color: #fcedbb;
}

.text-info-light-8 {
  color: #fdf3d2;
}

.bg-info-light-8 {
  background-color: #fdf3d2;
}

.text-info-light-9 {
  color: #fef9e8;
}

.bg-info-light-9 {
  background-color: #fef9e8;
}

.text-info-dark-1 {
  color: #ddb019;
}

.bg-info-dark-1 {
  background-color: #ddb019;
}

.text-info-dark-2 {
  color: #c59c16;
}

.bg-info-dark-2 {
  background-color: #c59c16;
}

.text-info-dark-3 {
  color: #ac8914;
}

.bg-info-dark-3 {
  background-color: #ac8914;
}

.text-info-dark-4 {
  color: #947511;
}

.bg-info-dark-4 {
  background-color: #947511;
}

.text-info-dark-5 {
  color: #7b620e;
}

.bg-info-dark-5 {
  background-color: #7b620e;
}

.text-info-dark-6 {
  color: #624e0b;
}

.bg-info-dark-6 {
  background-color: #624e0b;
}

.text-info-dark-7 {
  color: #4a3b08;
}

.bg-info-dark-7 {
  background-color: #4a3b08;
}

.text-info-dark-8 {
  color: #312706;
}

.bg-info-dark-8 {
  background-color: #312706;
}

.text-info-dark-9 {
  color: #191403;
}

.bg-info-dark-9 {
  background-color: #191403;
}

.text-blue {
  color: #2981ce;
}

.text-hover-blue:hover {
  color: #2981ce;
}

.bg-hover-blue:hover {
  background-color: #2981ce;
}

.bg-blue {
  background-color: #2981ce;
}

.text-blue-light-1 {
  color: #3e8ed3;
}

.bg-blue-light-1 {
  background-color: #3e8ed3;
}

.text-blue-light-2 {
  color: #549ad8;
}

.bg-blue-light-2 {
  background-color: #549ad8;
}

.text-blue-light-3 {
  color: #69a7dd;
}

.bg-blue-light-3 {
  background-color: #69a7dd;
}

.text-blue-light-4 {
  color: #7fb3e2;
}

.bg-blue-light-4 {
  background-color: #7fb3e2;
}

.text-blue-light-5 {
  color: #94c0e7;
}

.bg-blue-light-5 {
  background-color: #94c0e7;
}

.text-blue-light-6 {
  color: #a9cdeb;
}

.bg-blue-light-6 {
  background-color: #a9cdeb;
}

.text-blue-light-7 {
  color: #bfd9f0;
}

.bg-blue-light-7 {
  background-color: #bfd9f0;
}

.text-blue-light-8 {
  color: #d4e6f5;
}

.bg-blue-light-8 {
  background-color: #d4e6f5;
}

.text-blue-light-9 {
  color: #eaf2fa;
}

.bg-blue-light-9 {
  background-color: #eaf2fa;
}

.text-blue-dark-1 {
  color: #2574b9;
}

.bg-blue-dark-1 {
  background-color: #2574b9;
}

.text-blue-dark-2 {
  color: #2167a5;
}

.bg-blue-dark-2 {
  background-color: #2167a5;
}

.text-blue-dark-3 {
  color: #1d5a90;
}

.bg-blue-dark-3 {
  background-color: #1d5a90;
}

.text-blue-dark-4 {
  color: #194d7c;
}

.bg-blue-dark-4 {
  background-color: #194d7c;
}

.text-blue-dark-5 {
  color: #154167;
}

.bg-blue-dark-5 {
  background-color: #154167;
}

.text-blue-dark-6 {
  color: #103452;
}

.bg-blue-dark-6 {
  background-color: #103452;
}

.text-blue-dark-7 {
  color: #0c273e;
}

.bg-blue-dark-7 {
  background-color: #0c273e;
}

.text-blue-dark-8 {
  color: #081a29;
}

.bg-blue-dark-8 {
  background-color: #081a29;
}

.text-blue-dark-9 {
  color: #040d15;
}

.bg-blue-dark-9 {
  background-color: #040d15;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-hover-white:hover {
  background-color: white;
}

.bg-white {
  background-color: white;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-hover-black:hover {
  background-color: black;
}

.bg-black {
  background-color: black;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card {
  background-color: #f1e9e9;
  border: 1px solid #f1e9e9;
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  padding: 0.75rem;
  position: relative;
}
.card::before {
  background: radial-gradient(800px circle at 100px 100px, rgba(255, 255, 255, 0.06), transparent 40%);
  content: "";
  border-radius: inherit;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}
.card h1, .card h2, .card h3, .card h4, .card h5 {
  line-height: 1.2;
  font-size: 1.5rem;
}
.card p {
  font-size: 1rem;
}
.card h3, .card p {
  text-align: center;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e3e3e3;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #326dee;
}
.btn-primary:hover {
  background-color: #4a7ef0;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #326dee;
  color: #326dee;
}
.btn-outlined-primary:hover {
  color: #fafafa;
  background-color: #326dee;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #326dee;
  color: #fae7bf;
}
.btn-complement-primary:hover {
  color: #326dee;
  background-color: #fae7bf;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1ac888;
}
.btn-secondary:hover {
  background-color: #1ddf97;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #1ac888;
  color: #1ac888;
}
.btn-outlined-secondary:hover {
  color: #fafafa;
  background-color: #1ac888;
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1ac888;
  color: #f08bb0;
}
.btn-complement-secondary:hover {
  color: #1ac888;
  background-color: #f08bb0;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
}
.btn-error:hover {
  background-color: #da3961;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #d32752;
  color: #d32752;
}
.btn-outlined-error:hover {
  color: #fafafa;
  background-color: #d32752;
}

.btn-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
  color: #a5eedc;
}
.btn-complement-error:hover {
  color: #d32752;
  background-color: #a5eedc;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
}
.btn-info:hover {
  background-color: #f7c935;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #f6c31c;
  color: #f6c31c;
}
.btn-outlined-info:hover {
  color: #fafafa;
  background-color: #f6c31c;
}

.btn-complement-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
  color: #afc1fc;
}
.btn-complement-info:hover {
  color: #f6c31c;
  background-color: #afc1fc;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #2981ce;
}
.btn-blue:hover {
  background-color: #398ed8;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #2981ce;
  color: #2981ce;
}
.btn-outlined-blue:hover {
  color: #fafafa;
  background-color: #2981ce;
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #2981ce;
  color: #edc6a3;
}
.btn-complement-blue:hover {
  color: #2981ce;
  background-color: #edc6a3;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.btn-outlined-white:hover {
  color: #fafafa;
  background-color: white;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background-color: white;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
.btn-outlined-black:hover {
  color: #fafafa;
  background-color: black;
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
  color: #4d4d4d;
}
.btn-complement-black:hover {
  color: black;
  background-color: #4d4d4d;
}